{% extends "base.html" %}
{% load static %}

{% block styles %}
    {{ block.super }}
{% endblock %}


{% block script %}
{{ block.super }}
    <script src="{% static "messaging/group/js/group_script.js" %}"></script>
{% endblock %}

{% block pageheader %}
    <h1 class="pageheader">{{ group.name }}</h1>
{% endblock %}
{% block sidenavitem %}
    <button>
        <a href="{% url "messaging:profile" %}">Home</a>
    </button>
    <form method="get" action={% url "authsystem:logout" %}>
        <button type="submit">Log Out</button>
    </form>
{% endblock %}

{% block content %}
    <div class="groupsection">
        <section class="msgsection">
            <ul>
                {% for msg in message %}
                    {% if msg.author == request.user.username %}
                        <div class='selfmsg'>
                            <div>{{ msg.text }}
                                <br><br>{{ msg.author }} {{ " at " }} {{ msg.date}}
                            </div>
                        </div>
                    {% else %}
                        <div class='membermsg'>
                            <div>{{ msg.text }}
                                <br><br>{{ msg.author}} {{ " at " }} {{ msg.date }}
                            </div>
                        </div>
                    {% endif %}

                {% endfor %}
            </ul>
        </section>

        <form id="msgForm" class='msginput' >{% csrf_token %}
            <textarea id="id_text" name="text" placeholder="Type Here to Send Message... "></textarea>
            <input id="g_id" type="hidden" name="group" value="{{ group_id }}"/>
            <input id="sendButtton" type="submit" value="Send"/>
        </form>
    </div>
{% endblock %}