{% extends "base.html" %}
{% load static %}
{% block script %}
    {{ block.super }}
{% endblock %}
{% block pageheader %}
    <h1 class="pageheader">{{user}}</h1>
{% endblock %}

{% block sidenavitem %}
    <form method="get" action={% url "messaging:create-group" %}>
        <button type="submit">Create Group</button>
    </form>
    <form method="get" action={% url "authsystem:logout" %}>
        <button type="submit">Log Out</button>
    </form>
{% endblock %}

{% block content %}
    <div id="'myContainer" class="container">
        <section>
            <h3>Created Groups</h3>
            <ul>
                {% for group in request.user.created_groups.all|dictsortreversed:"last_msg_date" %}
                    <a href={% url "messaging:group" group.id %}>
                        <div class="groupcover">
                            <img class="groupimg" src="{{ group.image.url }}"/>
                            <div class="grouptitle">{{group.name}}</div>
                            <div class="latestdate">{{ group.group_messages.latest.get_date }}</div>
                            <div class="latestmsg">{{ group.group_messages.latest.get_text}}</div>
                            <div class="bottomborder"></div>
                        </div>
                    </a>
                {% endfor %}
            </ul>
        </section>
        <section >
            <h3>All Groups</h3>
            <ul>
                {% for group in all_groups|dictsortreversed:"last_msg_date"%}
                    <a href={% url "messaging:group" group.id %}>
                        <div class="groupcover">
                            <img class="groupimg" src="{{ group.image.url }}"/>
                            <div class="grouptitle">{{group.name}}</div>
                            <div class="latestdate">{{ group.group_messages.latest.get_date }}</div>
                            <div class="latestmsg">{{ group.group_messages.latest.get_text}}</div>
                            <div class="bottomborder"></div>
                        </div>
                    </a>
                {% endfor %}
            </ul>
        </section>
        <section >
            <h3>joined Groups</h3>
            <ul>
                {% for group in request.user.joined_groups.all|dictsortreversed:"last_msg_date" %}
                    <a href={% url "messaging:group" group.id %}>
                        <div class="groupcover">
                            <img class="groupimg" src="{{ group.image.url }}"/>
                            <div class="grouptitle">{{group.name}}</div>
                            <div class="latestdate">{{ group.group_messages.latest.get_date }}</div>
                            <div class="latestmsg">{{ group.group_messages.latest.get_text}}</div>
                            <div class="bottomborder"></div>
                        </div>
                    </a>
                {% endfor %}
            </ul>
        </section>
    </div>
{% endblock %}